<!DOCTYPE html>
<html>

<head>
    <title>EduTrack LMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <!-- Sidebar -->
        <div class="sidebar">
            <h2>EduTrack</h2>
            <a href="/">Home</a>
            <a href="/add_user">Add User</a>
            <a href="/users">View Users</a>
            <a href="/add_course">Add Course</a>
            <a href="/courses">View Courses</a>
            <a href="/enroll">Enroll Student</a>
            <a href="/enrollments">View Enrollments</a>
            <a href="/add_assignment">Add Assignment</a>
            <a href="/assignments">View Assignments</a>
            <a href="/submit">Submit Assignment</a>
            <a href="/submissions">View Submissions</a>
            <a href="/instructor_login">Instructor Grading</a>
            <a href="/search_users">Search Users</a>
            <a href="/search_courses">Search Courses</a>
            <a href="/reports">Reports</a>
        </div>

        <!-- Main Content -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <p>EduTrack LMS © 2026 | Database Systems Project</p>
    </footer>

</body>

</html>