{% extends 'base.html' %}

{% block content %}

<div class="hero">

    <div class="hero-overlay">
        <h1>EduTrack LMS</h1>

        <p>
            A lightweight Learning Management System designed to simplify course management,
            assignment submission, and grade tracking for students and instructors.
        </p>

        <div class="features">
            <div class="card">📚 Course Management</div>
            <div class="card">🧑‍🎓 Student Enrollment</div>
            <div class="card">📝 Assignments & Submissions</div>
            <div class="card">📊 Grade Tracking</div>
        </div>

        <p class="footer-note">
            Built using Flask + SQLite | Database Systems Project
        </p>
    </div>

</div>

{% endblock %}